.App {
  background-color: #ff0000;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.userlist {
flex: 1;
background: #555555;

}

.chat {
flex: 8;
background: #AAAAAA;

}

.inputbox { 
flex: 1;
background: #ffffff;  

}